/*media per il tablet*/
@media screen and (min-width:768px) {
    .hero-image {
        height: 500px;
    }
    .main .he-p {
        font-size: 14px;
    }

}

/*media per il pc*/
@media screen and (min-width:970px) {
    .hero-image {
        height: 500px;
    }
    .main-hero {
        font-size: 20px;
    }
    .main-hero p {
        font-size: 20px;
    }
    .main .he-p {
        font-size: 14px;
    }
    .main-hero .bottone {
        font-size: 14px;
    }
    
    

} 
