/*media per il tablet*/
@media screen and (min-width:768px) {
    .hero-image {
        height: 500px;
    }
    .main .he-p {
        font-size: 14px;
    }
    
    .icons .liste-inline .calc {
        width: calc(96% / 6);
    }
    .image img {
        width: 100px;
    }
    /*deploy*/
    .title-text p {
        font-size: 18px;
    }
    .foto {
        margin-top: 40px;
    }
    .bottone-dep  {
        margin-top: 40px;
    }
    

}

/*media per il pc*/
@media screen and (min-width:970px) {
    .hero-image {
        height: 500px;
    }
    .main-hero {
        font-size: 20px;
    }
    .main-hero p {
        font-size: 20px;
    }
    .main .he-p {
        font-size: 14px;
    }
    .main-hero .bottone {
        font-size: 14px;
    }
    .image img {
        width: 130px;
    }
    /*deploy*/
    .title-text p {
        font-size: 20px;
    }
    .bg-w {
        height: 410px;
       
    }
    /*DESIGNED*/
    .image .img-text {
        font-weight: normal;
        font-size: 18px;
    }
    /*cerchi*/
    .cerchi {
        margin-top: 10px;
    }


} 
