
/*NAVBAR*/
.navbar-bl {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3a8aff;
}
.navbar-bl img {
    width: 150px;
}
.navbar-bl .menu {
    font-size: 20px;
    line-height: 1.6;
}
.liste-inline,  .ul-cl{
   margin-top: 5px;
   margin-bottom: 0;
}
/*LISTE*/
.liste-inline li {  /*da mettere ul*/
    display: inline-block;
    list-style: none;
}
.liste-inline li a{
    font-weight: 600;
    text-decoration: none; 
    padding-left: 10px;
    color: #031c4e; 
}
.liste-inline .bot {
    border: 1px solid #006aff;
    color: #006aff;
    font-weight: 600;
    margin-left: 20px;
    border-radius: 5px;
    padding: 10px;
}
/*MAIN HERO*/
.hero-image {
    height: 750px;
    width: 100%;
    background:url(../img/bg-banner-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-hero {
    color: #fff;
    padding-top: 50px;
}
.main-hero p {
    color: rgba(187, 205, 255, 1);
}
/*FORM*/
.bg-w {
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}
.bg-w h2 {
    font-weight: 600;
    color: #000;
}
.bg-w .h2-blue {
    color: #006aff;
}
/*BOTTONE*/
.bottone {
    text-decoration: none;
    min-width: 100px;
    padding: 5px;
    text-align: center;
    background: #579aff;
    border: 1px solid #579aff;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 10px;
}
.bottone a {
    color: #fff;
}
.bottone.bottone-wi {
    background: #fff;
    color: #626262;
    border: 1px solid white;
    box-shadow: 1px 2px #dadada;
    position: relative;
}
.hero-image.liste-inline li a{
    width: 100%;
    font-weight: 600;
    text-decoration: none; 
    padding-left: 10px;
    color: #031c4e; 
}
.hero-image img {
    width: 20px; 
    position: absolute; 
    left: 3%; 
}
.bottone.bottone-wi, .scrit  {
    padding-right: 30px;
}