
/*NAVBAR*/
.navbar-bl {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3a8aff;
}
.navbar-bl img {
    width: 150px;
}
.navbar-bl .menu {
    font-size: 20px;
    line-height: 1.6;
}
.liste-inline,  .ul-cl{
   margin-top: 5px;
   margin-bottom: 0;
}
/*LISTE*/
.liste-inline li {  /*da mettere ul*/
    display: inline-block;
    list-style: none;
}
.liste-inline li a{
    font-weight: 600;
    text-decoration: none; 
    padding-left: 10px;
    color: #031c4e; 
}
.liste-inline .bot {
    border: 1px solid #006aff;
    color: #006aff;
    font-weight: 600;
    margin-left: 20px;
    border-radius: 5px;
    padding: 10px;
}
/*MAIN HERO*/
.hero-image {
    height: 780px;
    width: 100%;
    background:url(../img/bg-banner-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-hero {
    color: #fff;
    padding-top: 50px;
}
.main-hero p {
    color: rgba(187, 205, 255, 1);
}
/*FORM*/
.bg-w {
    height: 440px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}
.bg-w h2 {
    font-weight: 600;
    color: #000;
}
.bg-w .h2-blue {
    color: #006aff;
}
/*BOTTONE*/
.bottone {
    text-decoration: none;
    min-width: 100px;
    padding: 5px;
   /* text-align: center; */
    background: #579aff;
    border: 1px solid #579aff;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 5px;
}
.bottone a {
    color: #fff;
}
.bottone.bottone-wi {
    background: #fff;
    color: #626262;
    border: 1px solid white;
    box-shadow: 1px 2px #dadada;
    position: relative;
}
.hero-image img {
    width: 20px; 
}
.main .he-p {
    color: #031c4e;
}
.main .he-p a {
    text-decoration: underline;
}
/*IMAGGINI / ICONE*/ 
.icons h6 {
    color: #6f7b97;
    margin-top: 30px;
}
.icons {
    background: #f3f5f9;
}
.image img {
    width: 130px;
}
.icons .liste-inline .calc {
    width: calc(100% / 2 - 4px) ; 
}
.icons .link {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
}
/*sezione deploy*/
.deploy {
    margin-bottom: 40px;
}
.title-text h2 {
    color: #031c4e;
}
.title-text p {
    color: #5c6a88;
}
.bottone-dep {
    list-style: none;
    text-decoration: none;
    line-height: 3;
    min-width: 100px;
    padding: 10px;  
    background: #fff;
    border-left: 2px solid #ccc;
    font-size: 18px;
    margin-bottom: 5px;
}
.bottone-dep a {
    padding-bottom: 20px;
    color: #75809a;
}
.foto {
    margin-top: 5px;
}
.foto h4 {
    font-weight: 600;
    color: #142b58;
}
.foto p {
    color: #5c6a88;
}
/* SEZIONE ------ DESIGNED*/
.designed {
  /*  height: 600px; */
    background-color: #f3f5f9;
}
.designed h2 {
    font-weight: 600;
    color:#031c4e;
}
.designed p {
    font-size: 18px;
    color: #5c6a88;
}
.titolo-des {
    padding-top: 40px;
}
/*IMMAGINE DESIGNED*/
.image {
    position: relative;
}
.image .desi-img {
    margin: 0 auto;
    width: 60%;
    margin-top: 100px;
}
.image .img-text {
    padding-top: 20px;
    font-size: 12px;
    color: #142b58;
    font-weight:bold;
}
.segni {
    position: relative;
}
/*QUATTRO CERCHI*/
.cerchi {
    margin-top: 60px;
    padding-bottom: 40px;
}
.cerchi i {
    color:#006aff;
}
/*SEZ. FEATURES YOUR BUSINESS NEEDS*/
.features {
    margin-top: 60px;
    margin-bottom: 80px;
}
.features h5 {
    margin-top: 20px;
    color: #031c4e;
    font-size: 18px;
    font-weight: bold;
}
.features p {
    color: #78849c;
}
.features a {
    color: #1276ff;
    font-size: 18px;
    font-weight: 600;
}
.title-f h2 {
    margin-bottom: 40px;
    color:#031c4e;
    font-weight: bold;
}
.img-col {
    padding-top: 20px;
}
/* SEZIONE SERVICE /BG BLUE*/
.bg-service {
    background: linear-gradient( 0deg , #00239d , #0047c5);
    padding-bottom: 80px;
}
.service h2 {
    color: #fff;
    margin-bottom: 20px;
}
.table {
    color: #fff;
}
.table .city {
    color: #b7c7e9;
}
.table td {
    padding-top: 10px;
    padding-left:40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.table td a {
    color: #00d5d1;
    margin-left: 30px;
}
/*due colonne*/
.table .prima {
    margin-bottom: 40px;
}

/*DEVELOPMENT*/
.development {
    background: #f3f5f9;
    padding-top: 40px;
    padding-bottom: 50px;
    position: relative;
}
.development h2 {
    color: #031c4e;
    font-weight: 600;
}
/*Box- rocke*/
.box-rocke {
    width: 380px;
    height: 320px;
    margin: 60px auto;
    background: #fff;
    color: #5c6a88;
}
.box-rocke img {
    margin-top: 40px;
}
.box-rocke h4 {
    color: #031c4e;
    font-weight: 600;
}
.box-rocke h5 {
    color: #031c4e;
    font-weight: 600;
    margin-bottom: 30px;
}
.box-rocke a {
    font-weight: 600;
    font-size: 18px;
}
/*MAIN FOOTER*/
.main-footer {
    padding-top: 30px;
    height: 200px;
    background: #002ba4; 
    color: #fff;
}
.main-footer .bottone.bottone-wi {
    background: #fff;
    color: #006aff;
    border: 1px solid white;
    box-shadow: 1px 2px #dadada;
}
.footer {
    height: 700px;
    background: #031c4e;
    color: #fff;
}